<header class="site-header">
  <div class="brand">
    <img src="/images/travlr-logo.png" alt="Travlr Getaways" class="logo">
    <span class="brand-text">Travlr Getaways</span>
  </div>
  <nav>
    <a href="/">Home</a>
    <a href="/travel/list">Trips</a>
  </nav>
</header>
