<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{title}} | Travlr Getaways</title>
  <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
  {{> _header}}
  <main class="container">
    {{{body}}}
  </main>
  {{> _footer}}
</body>
</html>
